@font-face {
    font-family: GenshinFont;
    src: url('zh-cn.ttf');
}

.topnav {
    display: flex;
    align-items: center;
    font-family: GenshinFont;
    background-color: rgba(0, 0, 0, 0.35);
}


.topnav a{
    margin-right: 45px;
    font-size: 20px;
    color: white;
    text-shadow: 3px 3px 5px rgba(75, 75, 75, 0.333);
    text-decoration: none;
}

.topnav img{
    width: 5%;
    height: 5%;
    margin-right: 350px;
    padding: 10px;
}

body{
    background-image: url('main-background.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

.featured{
    display: flex;
    align-items: center;
    font-size: 65px;
    font-family: GenshinFont;
    color: white;
    text-shadow: 3px 3px 5px rgba(75, 75, 75, 0.333);
    padding-top: 45px;
    padding-left: 25px;
    margin: 0;
}

.featured h1{
    margin: 0px;
    text-align: center;
}

.featured b{
    display: block;
    font-size: 25px;
    text-align: center;
    padding-bottom: 15px;
}
.featured img{
    width: 25%;
    height: 25%;
    padding-right: 25px;
}