/*Mari Gabriel D. De Leon
2024-06258
Exercise 2: CMSC 100*/

@font-face { /* font face added for extra style */
    font-family: GenshinFont;
    src: url('zh-cn.ttf');
}

/*css is straightforward, most are for alignment and text*/
.topnav {
    display: flex;
    align-items: center;
    font-family: GenshinFont;
    background-color: rgba(10, 10, 10, 0.45);
}


.topnav a{
    margin-right: 45px;
    font-size: 26px;
    color: white;
    text-shadow: 3px 3px 5px rgba(75, 75, 75, 0.333);
    text-decoration: none;
}

.topnav img{
    width: 5%;
    height: 5%;
    margin-right: 350px;
    padding: 10px;
}

body{
    background-image: url('main-background.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

.featured{
    display: flex;
    align-items: center;
    font-size: 65px;
    font-family: GenshinFont;
    color: white;
    text-shadow: 3px 3px 5px rgba(75, 75, 75, 0.333);
    padding-top: 45px;
    padding-left: 25px;
    margin: 25px;
}

.featured h1{
    margin: 0px;
    text-align: center;
}

.featured p{
    display: block;
    font-size: 26px;
    text-align: center;
    padding-bottom: 15px;
}
.featured img{
    width: 25%;
    height: 25%;
    padding-right: 25px;
}

.previous_works{
    display:flex;
    background-color: rgba(10, 10, 10, 0.45);
    border: 5px;
    border-radius: 50px;
    border-color: rgba(8, 19, 19, 0.331);
    border-style: solid;
    justify-content: center;
    gap: 30px;
}

.project{
    padding: 25px;
    text-align: center;
    width: 300px;
    height: 250;
    padding-right: 50px;
}

.project img{
    width: 250px;
    height: 185px;
    border-radius: 30px;
}

.title{
    display:flex;
    font-family: GenshinFont;
    color: rgba(255, 255, 255, 0.537);
    text-shadow: 3px 3px 5px rgba(75, 75, 75, 0.333);
}

.details{
    font-family: GenshinFont;
    color:white;
    text-shadow: 3px 3px 5px rgba(75, 75, 75, 0.333);
    font-size: 20px;
}

.bio{
    margin-top: 30px;
    display:flex;
    gap: 30px;
}

.biography img{
    width:200px;
    height: 200px;
    justify-content: center;
    padding: 10px;
    border-radius: 50px;
}

.skills, .biography {
    display: flex;
    flex: 1;
    min-width: 300px;
    background-color: rgba(10, 10, 10, 0.45);
    border: 5px;
    border-radius: 50px;
    border-color: rgba(8, 19, 19, 0.331);
    border-style: solid;
    justify-content: center;
    padding: 10px;
}

.footer{
    font-family:GenshinFont;
    font-size: 15px;
    color:white;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(75, 75, 75, 0.333);
    padding-top: 50px;
}